.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    font-size: 1.4rem;
    font-weight: 500;
    min-width: 100px;
    padding: 8px 16px;
    text-align: center;
    color: var(--text-color-back);
    border: none;
    transition: all ease 1s;
    cursor: pointer;
    background-color: #ffffff;
}

.active {
    background-color: #e2e2e6;
    border-radius: 10px;
}

.menu-item + .menu-item {
    margin-left: 26px;
}

.icon {
    font-size: 1.4rem;
    transition: all ease 1s;
    padding: 0 2px;
    margin-right: 8px;
    color: var(--text-color-back);
}

.menu-item:hover,
.menu-item:hover > .icon {
    color: var(--text-color-text);
    box-shadow: 0px 0px 0px 2px #e7e7e9 inset;
    border-radius: 10px;
    background-color: #f3f3f4;
}

.wrapper > button:first-child,
.wrapper > button:last-child {
    border-radius: 10px;
    border: 1px solid #6e6d7a;
    position: relative;
}

.wrapper > button:first-child::before {
    content: '';
    position: absolute;
    left: calc(100% + 60px);
    height: 30px;
    border-left: 1px solid #ccc;
}
