.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 34px;
    gap: 12px;
    padding: 12px 0;
    border-radius: 8px;
}

.wapper {
    max-height: 312px;
}

.products {
    height: 100%;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
    box-shadow: 0px 1px 1px 0px rgba(17, 17, 17, 0.121);
}

.wapper:hover .products {
    top: -4px;
    box-shadow: -0px 2px 1px 0px #333;
    border: 1px solid #ccc;
    transition: all 0.4s ease-in-out;
    z-index: 1000;
}

.products:hover .sum {
    display: block;
}

.item {
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrap_img {
    padding: 0 8px;
    height: 220px;
    border-radius: 4px;
}

.img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    padding: 10px 12px;
    border-radius: 8px;
}

.wrap__item-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 12px 12px 12px;
}

.name {
    font-size: 1.4rem;
    height: 22px;
    max-width: 200px;
    max-height: 2.2rem;
    line-height: 2.2rem;
    color: #0d0c22;
    margin: 0;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name ~ p,
.price {
    font-size: 1.4rem;
    color: var(--text-color-back);
}

.count_buy {
    font-size: 1.2rem;
    background-color: #aeaeae79;
    border-radius: 20rem 1rem 4rem 10rem / 40rem 2rem 30rem 12rem;
    padding: 4px 8px;
}

.price {
    color: rgb(252, 5, 5);
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-left: -12px;
    padding: 2px 8px;
    background-color: #f7f5f5f1;
    border-radius: 2rem 1rem 4rem / 0.5rem 3rem;
    margin-right: 20px;
}

.wrap_price {
    margin-top: 12px;
    width: 100%;
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sum {
    position: absolute;
    font-size: 1.2rem;
    color: #0d0c22;
    padding: 1px 6px;
    border-radius: 16px 32px 50px 32px;
    right: 4px;
    z-index: 10000;
    top: 4px;
    transition: all 0.4s ease-out;
    animation: showSum 0.4 ease-in-out;
    display: none;
}

@keyframes showSum {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.sum:hover {
    color: #fff;
    background-color: #0d0c22;
}
