.wrapper {
    height: 720px;
    background-image: url('../../../assets/imgs/br9.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-clip: initial;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.wrap {
    width: var(--height--web);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.inner {
    height: 60px;
    width: var(--height--web);
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.wrap_inner {
    background-color: rgba(255, 255, 255, 0.837);
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
}

// logo

.logo {
    font-size: 2rem;
    color: var(--text-color-text);
    line-height: 100%;
    font-weight: 500;
    letter-spacing: 2px;
    width: calc(100% / 4);
}

// controls
.controls {
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.1);
    width: calc(100% / 2);
    box-shadow: -2px 0px 1px 4px rgba(237, 235, 237, 0.03);
    display: flex;
    justify-content: center;
}

.item__list {
    display: flex;
    color: var(--text-color-text);
    list-style: none;
    padding: 6px 36px;
}

// form
.form {
    display: flex;
    color: var(--text-color-text);
    width: calc(100% / 4);
    display: flex;
    justify-content: flex-end;
}

// Line
.Line {
    width: 200px;
    height: 6px;
    border-radius: 50px;
    margin-top: 48px;
    background-color: var(--text-color-text);
}

// container
.container {
    margin-top: 48px;
    width: 100%;
    padding: 0 24px 16px 24px;
    box-shadow: -4px 4px 10px 1px rgba(255, 255, 255, 0.747);
    display: flex;
}

.foreword {
    width: 70%;
}

.foreword--img {
    border: 2px solid #fff;
    box-shadow: -140px 4px 2px 3px rgba(255, 255, 255, 0.747);
    margin-top: 20px;
    border-radius: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    background-image: url('../../../assets/imgs/header_person.png');
}

// Loi mo dau
.foreword-main {
    font-size: 8rem;
    line-height: 10rem;
    display: inline-block;
    letter-spacing: 8px;
    font-weight: 500;
    text-decoration: underline;
}

.foreword-main--min {
    margin-left: 8px;
    font-size: 2rem;
    line-height: 10.2rem;
    display: inline-block;
    letter-spacing: 4px;
    font-weight: 400;
}

.foreword-main-max {
    font-size: 6rem;
    color: #fff;
    letter-spacing: 8px;
    line-height: 6rem;
}

.foreword-main-content {
    width: 100%;
    margin-top: 34px;
}

.foreword-main-text {
    width: 70%;
    font-size: 1.4rem;
    color: var(--text-color-black);
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 2rem;
    background-color: rgba(255, 255, 255, 0.84);
    padding: 6px 8px 8px 32px;
    border-radius: 12px 32px 11px 22px / 11px 2px 8px 4px;
}

.foreword-main-text + .foreword-main-text {
    margin-top: 4px;
    text-align: center;
}
