.wrapper {
    height: 750px;
    background-image: url('../../../assets/imgs/header_bạckground.jpeg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-clip: initial;

    display: flex;
    justify-content: center;
}

.inner {
    height: 60px;
    width: 1380px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    line-height: 100%;
    font-weight: 500;
    letter-spacing: 2px;
}

// controls
.controls {
    border-radius: 5px;
    background-color: rgba(237, 235, 237, 0.3);
    box-shadow: -2px 0px 1px 4px rgba(237, 235, 237, 0.03);
}

.item__list {
    display: flex;
    color: var(--text-color);
    list-style: none;
    padding: 6px 36px;
}

.item__link {
    border-radius: 5px;
}

.item__link > a {
    cursor: pointer;
}

.item__link-text {
    display: block;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px 6px;
}

.item__link-text:hover {
    background-color: rgba(237, 235, 237, 0.5);
}

.item__link + .item__link {
    margin-left: 10px;
}

.form {
    display: flex;
    color: var(--text-color);
}

.form-item {
    padding: 5px 10px;
    border-radius: 5px;
}
