.wrapper {
    height: 750px;
    background-image: url('../../../assets/imgs/background_header.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-clip: initial;
    display: flex;
    justify-content: center;
}

.inner {
    height: 60px;
    width: 1380px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    line-height: 100%;
    font-weight: 500;
    letter-spacing: 2px;
}

// controls
.controls {
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.1);
    box-shadow: -2px 0px 1px 4px rgba(237, 235, 237, 0.03);
}

.item__list {
    display: flex;
    color: var(--text-color);
    list-style: none;
    padding: 6px 36px;
}

.form {
    display: flex;
    color: var(--text-color);
}

.form-item {
    padding: 5px 10px;
    border-radius: 5px;
}
