.Signin {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/imgs/backRDN1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.Signin::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.312);
    z-index: 0;
}

.title {
    font-size: 2.4rem;
    color: #fff;
    z-index: 3;
    margin-bottom: 16px;
    z-index: 10;
    letter-spacing: 4px;
    box-shadow: -1px 1px 0px 1px rgba(255, 255, 255, 0.616);
    padding: 10px;
}

.wrapper {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 500px;
    height: 500px;
    max-height: 600px;
    z-index: 100;
    overflow: hidden;
}

.background_left {
    height: 100%;
    background-color: #ccc;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.rule {
    border: 1px solid #fff;
    gap: 4px;
    border-radius: 2px;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    padding: 100px 60px;
    background-color: #202123;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content > form {
    flex: 1;
}

.form-controls {
    border: none;
    text-decoration: none;
    width: 100%;
    margin-bottom: 20px;
}

.form-controls > input {
    background-color: #202123;
    font-style: 14px;
    width: 100%;
    height: 58px;
    padding: 0 10px;
    outline: none;
    border: none;
    border-width: 4px;
    border-style: solid;
    color: #fff;
    border-color: transparent transparent var(--text-color-back) transparent;
}

.form-controls > input::placeholder {
    color: #fff;
    font-size: 14px;
}

.form-btn {
    margin-right: 4px 20px;
    background-color: #3970b0;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: #fff;
    font-size: 14px;
    min-width: 100px;
}

.wrap-btn > .form-btn {
    margin-right: 10px;
}

.wrap-btn .form-link .form-btn {
    margin-left: 10px;
}

.wrap-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-btn:hover {
    background-color: #3971b09d;
}

.form-link > button {
    display: block;
    width: 100%;
}

.form-link {
    text-decoration: none;
}

.info_link {
    display: flex;
    list-style: none;
    color: #fff;
    margin: 40px 0 20px 0;
    justify-content: center;
}

.info_link > li > a {
    display: block;
    color: #fff;
    font-size: 18px;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 0 8px;
    border: 1px solid #fff;
}

form > span {
    color: #fff;
    font-size: 14px;
    display: block;
    text-align: center;
}

.content {
    transform: translateX(-500px);
    animation: toRight 0.8s ease-in-out forwards;
}

.left,
.right {
    overflow: hidden;
}

@keyframes toRight {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}

.background_left {
    animation: toLeft 0.8s ease-in-out forwards;
}

@keyframes toLeft {
    0% {
        transform: translateX(500px);
        opacity: 0;
        border-radius: 14px;
    }
    100% {
        opacity: 1;
        border-radius: 10px;
        transform: translateX(0);
    }
}

.hover:hover {
    opacity: 0.8;
}
