.wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #fff;
}

.container {
    width: 1240px;
    z-index: 1;
    color: #fff;
    height: 700px;
    padding: 10px 0px;
    margin-top: 40px;
}
